{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="pt-5">
		{% include "partials/_introduction.html.twig" %}
		{% include "partials/_appointment.html.twig" %}
		{% include "partials/_about_me_homepage.html.twig" %}
		{% include "shared/_footer.html.twig" %}
	</div>
{% endblock %}
