{% extends "base_maintenance.html.twig" %}

{% block title %}
	Mode de maintenance
{% endblock %}

{% block body %}
	<div class="container text-center mt-5">
		<h1 class="display-4">Découvez la puissance de la Numérologie</h1>
		<p class="lead mt-3">
			Apprenez à décrypter les chiffres et leur signification pour mieux vous comprendre et guider votre vie.
									        Nos formations complètes arrivent très bientôt !
		</p>
	</div>
{% endblock %}
