{% extends "base_maintenance.html.twig" %}

{% block title %}
	L'Odyssée des Nombres©
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="display-4 text-center">Bientôt l'Odyssée des Nombres©</h1>
		<p class="lead mt-3">
			<br>
			Pendant de longs mois, j’ai étudié, exploré, questionné. <br>
			Le coaching professionnel et la symbolique des Nombres sont devenus pour moi des langages pour mieux comprendre l’être humain.<br><br>

			Aujourd’hui, une étape s’ouvre.<br><br>

			Dans quelques jours, je vous proposerai des accompagnements nés de cette traversée intérieure.<br>
			Ils ont été pensés pour vous aider à reconnaître en vous ce qui est déjà là :<br>
			vos ressources, votre direction, vos aspirations profondes.<br><br>

			Je me réjouis de vous partager ce qui, désormais, donne sens à mon chemin.<br><br>
			
			France Tuncq
		</p>
	</div>
{% endblock %}